body {
    background:  #E2E8DD;
}
.header_div {
    background: goldenrod;
    color: white;
}
.header_div p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: white;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight:bold;
}
.main_div button {
    font-family:'Roboto', sans-serif;
    margin-top:30px;
    width: 130px;
    font-weight:bolder;
    letter-spacing:3px;
}
.copy_right_footer {
    position:fixed;
    bottom:0;
    width:100%;
    background-color:#2E5090;
    color:aquamarine;
    text-align:center;
    line-height:3;
    font-size:15px;
    text-shadow:gray;
}